body
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: white;
}

.button
{

    background-color: white;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 35px;
    width: 185px;
    border: 3px orange;
    border-style: solid;

    
}

#money_result
{
    width: 185px;
    height: 80px;
    background-color: white;
    margin-top: 10px;
    border: 3px red;
    border-style: solid;
    
    
}