body
{
    width: 770px;
}

#navigation 
{
    margin: auto;    
}

.nav ul
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.nav li
{
    float: right;
}

.nav li a
{
    font-family: arial;
    font-size: 1.5em;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover
{
    background-color: white;
}

#text-nav
{
    font-size: 9px;
    color: white;  
    float: left;
}

#img-cabecera
{
    width: 770px;
    height: 100px;
    background-image: url(cabecera.jpg);
}

#img-cabecera img 
{
    
    margin-left: 10%;
}

#pie-pagina
{
    border: 2px solid black;
    margin-top: 25px;
}
#pie-pagina p
{
    font-size: 0.8em;
    text-align: center;
    font-family: cursive;
}

#container
{
    display: flex;
}

#left-side
{
    width: 200px;
}

#center-side
{
    width: 330px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    background-image: url(duda.png);
    opacity:
    
}

#center-side a
{
    color: green;
    text-decoration: none;

}

#center-side a:hover
{
    color: blue;
}


#right-side
{
    width: 200px;
}

#left-side, #center-side, #right-side
{
    border: 2px solid black;
    height: 300px;
    margin: auto;
    margin-top: 25px;
}

#left-side ul
{
    font-family: Arial;
    font-size: 1.5em;
    color: black;
}

#left-side li
{
    margin-bottom: 0.7em;
    padding: 0.3em;
}

#left-side a
{
    text-decoration: none;
}

#left-side a:hover
{
    color: red;
}

#left-side a:visited
{
    font-family: Verdana;
    color: blue;
}

#left-side a:visited:hover
{
    color: red;
}




#right-side table
{
    font-family: Arial;
    font-size: 1.5em;
    color: black;
}

#right-side tr
{
    padding-bottom: 1.5em;
}

#right-side a
{
    color: green;
    text-decoration: none;
}

#right-side a:hover
{
    color: blue;
}

#right-side a:visited
{
    font-family: Verdana;
    color: green;
}

#right-side a:visited:hover
{
    color: blue;
}



